.background {
    padding-block: 350px;
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(wp7528738-minimalist-forest-wallpapers.jpg);
    opacity: 0.7;
}

body {
    letter-spacing: 0.5px;
    color: #1a4330;
    font-size: 15px;
    font-family: monospace
}

h1 {
    text-align: center;

}

.form {
    text-align: center;
    position: relative;
}

p {
    font-weight: bold;
    font-size: 18px;
}

.fradio {
    position: relative;
    right: 11px;
}

.sradio {
    position: relative;
    left: 1.5px;
}

.tradio {
    position: relative;
    left: 1.5px;
}

.register {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 15px;
    background-color: #1a4330;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 2px 2px 1px #1a4330;
}

.register:hover {
    background-color: #1a1c1b;
    color: #ffffff;
    box-shadow: 0px 0px #0f0f0f;

}

#first {
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #1a4330;
}

#last {
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #1a4330;
}

#email {
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #1a4330;

}

#password {
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #1a4330;

}

#selection {
    text-transform: uppercase;
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #1a4330;
    font-weight: bold;

}